.about-container {
  height: 40vh;
  width: 40vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  color: aliceblue;
  font-weight: 500;
  font-size: 20px;
} 

.grid-style {
  height: 100%;
}

/* Place text in the middle of the image */
/* .hero-text {
  text-align: center;
  color: black;
  height: 30vw;
  background-color: aliceblue;
  border-radius: 0.5%;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
} */

.myphoto {
  width: 20%;
  border-radius: 50%;
}

@media (max-width: 650px) {
  body, img {
    height: auto;
    width: 100%;
    cursor: pointer;
  } 
  .about-container {
    width: 100%;
    height: auto;
  }
  .hero-text {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}