@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;1,200;1,600&display=swap');

.about-container {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  color: aliceblue;
} 

h1 {
  font-family: 'Urbanist', sans-serif;
}

.grid-style {
  height: 100%;
  font-family: 'Urbanist', sans-serif;
}

.myphoto {
  width: 20%;
  border-radius: 50%;
}

@media (max-width: 650px) {
  body, img {
    height: auto;
    width: 100%;
    cursor: pointer;
  } 
  .about-container {
    width: 100%;
    height: auto;
  }
  .hero-text {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}