@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;1,200;1,600&display=swap');

.hero-image {
    padding: 60px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

.text-box {
    height: 100%;
    width: auto;
}

h4 {
    color: black;
    position: relative;
    text-transform: uppercase;
}

.home-text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;  
}

.neon {
    position: absolute;
    margin: 0;
    padding: 0 20px;
    font-size: 4vw;
    color: #fff;
    text-shadow: 0 0 20px #2072ec;
    text-transform: uppercase;
    cursor: default;
    font-family: 'Urbanist', sans-serif;
   
}

.neon:after {
    content: attr(data-text);
    position: absolute;
    padding: 0 20px;
    z-index: -1;
    color: #0099ff;
    filter: blur(15px)
}

.neon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3a88fe;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

@media (max-width: 650px) {
    .neon {
        font-size: 7vw;
    }
}