@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.headLine {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

a:visited{
    color:#f7f8f8;
}

link{
    color: #000000;
}

a:hover {
    color: rgb(10, 10, 10);
    transition: 0.5s;
}

.product {
    padding: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.about-container{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    width: 100%;
}


.contact-container{
    height: 80vh;
    padding: 50px;
    
}

h1{
    justify-content: center;
    display: flex;
}

body{
    background: url('/images/gym.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
    width: auto;
    margin: 0 auto;
}

img{
    margin-top: 'auto';
    display: 'block';
}

.container img{
    border-radius: 50%;
    height: 200px;
}

.container{
    height: auto;
    font-size: 30px;
    text-align: center;
    color: white;
}

.contact-container{
    background-color: transparent;
    height: auto;
}

.headLine-about{
    text-align: center;
}

.headLine-contact{
    text-align: center;
}


.hero-image {
  padding: 60px;
  height: 100vh;
  position: relative;
  z-index: 2;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  top: 50%;
  color: black;
}

.hero-p{
    text-align: center;
    font-size: 20px;
    color: white;
}

@media (max-width: 400px){
    .container{
        display: flex;
    }
    .cart-container{
        display: flex;
    }
}

.myphoto{
    width: 10%;
    border-radius: 50%;
    margin: 0;
}