@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.headLine {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

a:visited{
    color:#f7f8f8;
}

link{
    color: #0B4E79;
}

a:hover {
    color: rgb(10, 10, 10);
    transition: 0.5s;
}

.product {
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

h1{
    justify-content: center;
    display: flex;
}

body{
    background-color: lightgray;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    width: auto;
}

img{
    margin: 'auto';
    display: 'block';
}

.container img{
    border-radius: 50%;
    height: 200px;
}

.container{
    height: auto;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
}

.headLine-about{
    text-align: center;
    
}

.headLine-contact{
    text-align: center;
    
}

.footer{
    background-color: #0B4E79;
    height: auto;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

