@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.headLine {
    font-size: x-large;
    display: flex;
    justify-content: center;
}

a:hover {
    color: rgb(127, 44, 221);
}

.product {
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

h1{
    justify-content: center;
    display: flex;
}

body{
    background-color: lightgray;
    font-family: 'Oswald', sans-serif;
}

img{
    margin: 'auto';
    display: 'block';
    
}

.container{
    height: 80vh;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    vertical-align: auto;
}

.left{
    margin: 0 auto;
  
}
.right{
    margin: 0 auto;
 
}

.headLine-about{
    text-align: center;
    
}

.headLine-contact{
    text-align: center;
    
}