@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

a:visited {
    color: #f7f8f8;
}

link {
    color: #000000;
}

a:hover {
    color: rgb(10, 10, 10);
    transition: 0.5s;
}

.product {
    padding: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.contact-container {
    height: 80vh;
    padding: 50px;

}

h1 {
    justify-content: center;
    display: flex;
}

body {
    background: url('/images/gym5.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

.container img {
    border-radius: 50%;
    height: 100px;
    padding: 10px;
}

.container {
    height: auto;
    font-size: 30px;
    text-align: center;
    color: white;
}

.contact-container {
    background-color: transparent;
    height: auto;
}

.hero-image {
    padding: 60px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

@media (max-width: 650px) {
    .container {
        display: flex;
    }

    .cart-container {
        display: flex;
    }

    body, img {
        height: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit:contain;
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
    }
}