*:focus {
    outline: none;
}

.form {
    width: 400px;
    height: auto;
    font-weight: 600;
    color: #fff;
    /* font-family: 'Urbanist', sans-serif; */
}

.heading {
    opacity: 1;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}

input,
.submit-btn {
    opacity: 1;
    width: 50%;
    height: 40px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
    font-size: large;
}

input::placeholder {
    color: #fff;
}

input:focus,
.submit-btn:hover {
    background: #fff;
    color: #000;
}

input:focus::placeholder {
    color: #000;
}

.submit-btn {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 1;
}

Link {
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
    cursor: pointer;
}

.link:hover {
    color: #fff;
}

