.image {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    max-width: 250px;
    max-height: 250px;

}

.image-box {
    width: 100%;
    height: auto;
    color: aliceblue;
    font-weight: 500;
}



.title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
    font-weight: 500;
}

.description {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    font-weight: 500;

}

.price {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    font-weight: 500;
}

.box {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.box-1 {
    width: 40%;
    height: 30vh;
    margin: auto;
    background-color: transparent;
}

body {
    background-color: aliceblue;
    width: auto;
}

.hero-image-store {
    height: 100vh;
    padding: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
}

@media (max-width: 650px) {
    .hero-image-store {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
}