.image {
    width: 50%;
    height: 10vw;
    /*     border: 2px solid red; */
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.image-box {
    width: 100%;
    height: auto;
    /*     border: 2px solid blue; */
    color: aliceblue;
    font-weight: 500;
    /*     background-color: aliceblue; */
}



.title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
    font-weight: 500;
    /*     background-color: aliceblue; */
    font-family: 'Quicksand', sans-serif;
}

.description {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    /*     background-color: aliceblue; */
    font-family: 'Quicksand', sans-serif;

}

.price {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    /*     background-color: aliceblue; */
    font-family: 'Quicksand', sans-serif;
}

.box {
    width: 100%;
    flex-wrap: wrap;
    /*     border: 2px solid green; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.box-1 {
    width: 40%;
    /* border: 2px solid tomato; */
    height: 30vh;
    margin: auto;
    background-color: transparent;
}

body {
    background-color: aliceblue;
    height: 100vh;
    width: auto;
}

.hero-image-store {
    height: 100vh;
    padding: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
}