.cart-container{
    background-color: white;
    padding: 100px;
}

.cart-wrapper{
    padding: 10px;
    width: auto;
    background-color: grey;
    margin: 0 auto;
}

.cart-title{
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.cart-item{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(94, 91, 91, 0.856);
}

.cart-thumbnail{
    width: 30%;
    height: auto;
}
.cart-product{
    margin-left: 30px;
    font-size: 18px;
    text-align: center;
}

.cart-description{
    margin: 10px;
}
.cart-price{
    margin: 10px;
    display: flex;
    justify-content: end;
    color: white;
    font-size: 22px;
}

.main-container{
    display: flex;
    width: 100%;
}

.cart-thumbnail img{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    object-fit: cover;
    max-width: 170px;
}

.main-header{
    margin: 50px;
}

.main-new-product{
    width: 50%;
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 600px) {
    .cart-wrapper {
      display:flex;
      flex-direction: column;
    }
    .cart-thumbnail{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;        
    }
    .cart-thumbnail img {
        max-width: 250px;
    }
    .cart-item{
        display: flex;
        flex-direction: column;
    }
    .main-container{
        display: flex;
        flex-direction: column
    }
    }
  

