.cart-container{
    background-color: white;
}

.cart-wrapper{
    padding: 50px;
    width: 900px;
    background-color: grey;
    margin: 0 auto;
}

.cart-title{
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

.cart-item{
    display: flex;
    width: auto;
    height: auto;
    background-color: rgba(94, 91, 91, 0.856);
}

.cart-thumbnail{
    /* width: 250px;
    height: 150px; */
}
.cart-product{
    margin-left: 30px;
    font-size: 18px;
    text-align: center;
}

.cart-description{
    margin: 10px;
}
.cart-price{
    margin: 10px;
    display: flex;
    justify-content: end;
    color: white;
    font-size: 22px;
}

.main-container{
    
}

.cart-thumbnail img{
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-header{
    margin: 50px;
}

.main-new-product{
    width: 50%;
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}